.products-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.product-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}