.sub-header-wrapper {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.sub-header-container {
    max-width: 1400px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.middle-sub-header {
    display: flex;
    align-items: center;
    gap: 10px
}

.left-sub-header {
    display: flex;
    align-items: center;
    gap: 10px;
}